
###> symfony/framework-bundle ###
.env.test
.php-cs-fixer.cache
ecs.php
phpcbf.phar
phpcs.phar
phpmd.phar

/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/src/Security
/src/Service/FileUploader.php
/templates/

.phpunit.result.cache
/phpunit.xml

/phpunit.xml
.phpunit.result.cache

